.footer__pop{
    /* max-width: 310px; */
    width: 300px;
    z-index: 1000;
    position: fixed;
    padding: 1rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.8rem;
    background-color: var(--current-mode);
    box-shadow: 0 0px 10px 1px rgba(0,0,0,0.24);
}


@media screen and (min-width: 700px) {
    .footer__pop{
        bottom:1rem;
        right: 1rem;
        left: unset;
        transform: unset;
    }
}

.message{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}


.message div{
    width: 80px;
    height: 80px;
    position: relative;
}

.message div > img{
    width: 80px;
    position: absolute;
    filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.3));
}

.message div > img:first-child{
    top: -5px;
    right: -8px;
}

.message p{
    max-width: 20ch;
    padding: 0 0.5rem;
}

.buttons{
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 0.8rem;
}

.buttons button{
    padding: 0.37rem 2rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: var(--base-color);    
    cursor: pointer;
}




/* normal card */

.normal__card{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,40px);
    position: relative;
    margin-top: 1rem;
}

.normal__card::before{
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    width: 97%;
    height: 2px;
    background-color: rgba(0,0,0,0.1);
    transform: translateX(-50%);
    border-radius: 5px;
}
.card__img{
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    position: relative;
    display: grid;
    place-items: center;
    padding-right: 1rem;
}


.card__img .bookmark{
    position: absolute;
}

.bookmark *{
    fill:#fff;
}

.feed__details{
    grid-column: 1 / span 2;
    grid-row:1/ span 3;
    padding-left: 1rem;
}


.site__from{
    display: flex;
    align-items: center;
}
.site__from h5{
    margin-left: 10px;
    color: #6c757d;
}
.site__from .card__menu{
    display: none;
    margin-left: auto;
    cursor: pointer;
}

@media screen and (min-width: 350px) {
    .normal__card{
        padding: 0 1rem;
    }
    .card__img, .feed__details{
        padding: 0;
    }
}

.heading h4{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@supports (-webkit-line-clamp: 2){
    .heading h4{
        display: -webkit-box;
        white-space: initial;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.heading p{
    color: #1e90ff;
    font-weight: bold;
    cursor: pointer;
}

.user__actions{
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    display: flex;
    align-items: center;
}

.user__actions span{
    color: #6c757d;
}

.pub__date{
    display: flex;
    align-items: center;
}
.user__actions ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
}

.user__actions li{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.user__actions li > div{
    margin-left: 0.2rem;
}

.image__wrapper{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}
.site__from{
    position: relative;
}
.site__from > div{
    width: 30px;
    padding: 10px 0;
    height: auto;
}

.site__from ul {
    display: none;
}

.image__wrapper img, .site__from img{
    width: 100%;
    height: 100%;
}

.image__wrapper img{
    object-fit: cover;
}

.bs__dot{
    fill: var(--base-color);
}




@media screen and (min-width:760px) {
    .normal__card{
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-template-areas: 
            "img img img"
            "img img img"
            "img img img"
            "body body body"
            "body body body"
            "body body body"
            "foot foot foot"
        ;
        padding: 0;
        border-radius: 8px;
        transition: box-shadow 0.4s, border 0.1s;
    }

    .normal__card::before{
        display: none;
    }

    .normal__card:hover{
        border: 2px solid var(--base-color);
        box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.15);
    }

    .card__img{
        grid-column: unset;
        grid-row: unset;
        grid-area: img;
    }

    .image__wrapper{
        width: 100%;
        height: 132px;
        align-self: stretch;
        border-radius: 8px 8px 30px 0px;
    }

    .feed__details{
        grid-column: unset;
        grid-row: unset;
        grid-area: body;
        padding: 0 0.2rem 0 0.5rem;
    }

    .user__actions{
        grid-column: unset;
        grid-row: unset;
        grid-area: foot;
        padding: 0 0.2rem;
    }

    .user__actions li:last-child{
        display: none;
    }

    .site__from .card__menu{
        display: block;
    }

    .site__from ul{
        display: block;
        position: absolute;
        list-style: none;
        background-color: var(--current-mode);
        box-shadow: 0 0 8px 3px rgba(0,0,0,0.1);
        border-radius: 3px;
        right: 0;
        top: 80%;
    }

    .site__from li{
        color: #6c757d;
        padding: 0.6rem 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .site__from li:hover{
        color: var(--mode-write-color);
    }

    .site__from li span{
        margin-left: 1rem;
    }

    .card__img .bookmark{
        top: 10px;
        right: 10px;
    }
}


