.profile__div img{
    display: block;
    width: 50px;
}


.profile__div h2{
    background-color: var(--base-color);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;
}







