:root{
    --netural-color:#fff;
    --netural-opposite: #000;
    --base-color:#fcda69;
    --comp-one:#25dabc;
    --comp-two:#bc25da;
    --current-mode: #fff;
    --mode-write-color: #000;
    --highlight-grey: #ececec;
    --mask-bg: rgba(0,0,0,0.3);
    --dark-mode-step-one: #fff ; /* level one raise above base color*/
    --dark-mode-step-two: #fff ;
    --dark-mode-white:#ebe9e9;
    --white-mode-write-text:#292929;
    --fade-text: #6c757d;
    --border-line: rgba(0,0,0,0.2);
    --aside-shadow:rgba(0,0,0,0.088);
    --select-shadow:#979393b3;
    --noti-elevation: 0px 2px 20px 0px var(--border-line);
    --header-height:60px;
    --hist-background:#e6e4e4;
    --bread-width-max: 1126px;
    --bread-width-mid: 930px;
    --bread-width-sm: 720px;
    --radius-10:10px;
}

[data-theme="dark"]{
    --netural-color :#000;
    --netural-opposite:#ebe9e9;
    --current-mode:#000;
    --mode-write-color: #ebe9e9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "haas grot";
    src: url("../fonts/AlteHaasGroteskBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "haas grot";
    src: url("../fonts/AlteHaasGroteskRegular.ttf");
    font-weight: normal;
}

html{
    font-family: "haas grot";
    font-size: 16px;
}

body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


#root > .container{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--current-mode);
}

@media screen and (min-width:1000px) {
    #root > .container{
        overflow: initial;
    }
}

.page__cover{
    width: 100vw;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    left: 0;
    background-color: var(--mask-bg);
    position: fixed;
    z-index: 400;
}
