.slide__container{
    width: 100%;
    height: 100%;
    position: absolute;
    flex-shrink: 0;
    scroll-snap-align: start;
    align-self: stretch;
    z-index: 10;
    transition: all 0.5s;
}


.img__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text__div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    color: var(--dark-mode-white);
    background: linear-gradient(45deg,rgba(0,0,0,0.7) ,rgba(0,0,0, 0.3), rgba(0,0,0,0.2)) ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
}


@media screen and (min-width: 800px) {
    .text__div{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        color: rgb(235, 233, 233);
        background: linear-gradient(135deg,transparent 0% 5%,rgba(0,0,0,0.2) 10% 50%,rgba(0,0,0, 0.3)50%, rgba(0,0,0,0.7) 65%) ;
        justify-content: flex-end;
    }
}


.info__area{
    min-width: 35ch;
    max-width: 35ch;
    overflow: hidden;
}





.text__div  h1{
    margin-bottom:10px;
    font-size: 1.1rem;
    opacity: 0;
    transition: opacity 3s;
    padding: 0 0.5rem;
}



@media screen and (min-width: 760px) {
    .text__div h1{
        font-size: 1.5rem;
    }
    .info__area{
        min-width: 45ch;
        max-width: 50ch;
    }
    
}

.text__div span{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s all;
    padding: 0 0.5rem;
}

.text__div span a{
    color: inherit;
}

.text__div span:hover{
    font-weight: bold;
}

