.container{
    margin-bottom: 2.5rem;
}

.toggle{
    height: 36px;
    width: 100%;
    border: 1px solid  var(--border-line);
    border-radius: 2px;
    padding: 0.2rem 1.2rem;
    display: flex;
    align-items: center;
    background-color: var(--advanced-option-bg);
}

.toggle h3{
    display: flex;
    align-items: center;
    color: #399bfd;
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
    position: relative;
}

.info >span svg {
    fill: #1e90ff;
}

.message{
    display: none;
    align-items: center;
    position: absolute;
    left: 10px;
}

.message p{
    background-color: var(--advanced-option-message-bg);
    color: #fff;
    padding: 0.4rem;
    font-size: 0.9rem;
    border-radius: 0  5px 5px 0;
}


.message span{
    transform: translateX(7px);
}



.select__bundles{
    width: 40%;
}

.info > span:hover ~ .message{
    display: flex;
}

.select__bundle > input{
    width: 40%;
    padding: 0.55rem 1rem;
    border-radius: 5px;
    outline: 0;
    border: 1px solid var(--form-border-color);
}

@media screen and (max-width: 900px ) {
    .select__bundles{
        width: 50%;
    }
    .select__bundle > input{
        width: 50%;
    }
}


.select__bundle >  input:focus{
    border: 1px solid var(--comp-one);
}
