

.wrapper__div{
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 1.5;
}
.aside{
    position: fixed;
    width: 250px;
    top: 60px;
    right: -400px;
    height: calc(100% -  60px);
    background: var(--netural-color);
    border-left: 2px solid var(--border-line);
    transition: all 0.5s;
}

.like__comment{
    width: 170px;
    height: 45px;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 0.3rem;
    background-color: var(--netural-color);
    border: 1px solid var(--border-line);
    box-shadow: -2px 4px 10px 2px var(--aside-shadow);
}




.show__aside{
    right: 0;
}

.aside > span{
    position: absolute;
    top: 15px;
    right: 1.4rem;
}

.aside > span svg{
    fill: var(--mode-write-color);
}

.aside__toggle{
    position: fixed;
    width: 33px;
    height: 45px;
    display: grid;
    place-items: center;
    border-radius: 20px 0 0 20px;
    top: 50%;
    right: 0;
    background:var(--base-color);
}


.main__content{
    padding: 0rem 0.7rem;
}


.write__up{
    margin-bottom: 1rem;
}

.interaction{
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
}

.interaction > a{
    color: inherit;
}

.like{
    margin-left: 1rem;
}

.share{
    margin-left: auto;
}
.star{
    margin: 0 1rem 0  1.5rem;
}

@media screen and (min-width: 400px) {
    .main__content{
        padding: 0rem 1rem;
    }
}

@media screen and (min-width: 1200px) {

    .wrapper__div{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
    }

    .main__content{
        flex-shrink: 0;
        flex-basis: 70%;
        flex-grow: 0;
    }
    .aside{
        height: auto;
        overflow: initial;
        position: static;
        border: 0;
        flex-shrink: 0;
        flex-basis: 30%;
        flex-grow: 0;
        padding-right: 0.5rem;
    }

    .aside > span{
        display: none;
    }
    .aside__toggle{
        display: none;
    }

    .like__comment{
        left: 38%;
    }
}