

.wrapper__div{
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 1.5;
}
.aside{
    position: fixed;
    width: 250px;
    top: 60px;
    right: -400px;
    height: calc(100% -  60px);
    background: var(--netural-color);
    border-left: 2px solid var(--border-line);
    transition: all 0.5s;
}

.like__comment{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}


.show__aside{
    right: 0;
}

.aside > span{
    position: absolute;
    top: 15px;
    right: 1.4rem;
}

.aside > span svg{
    fill: var(--mode-write-color);
}

.aside__toggle{
    position: fixed;
    width: 33px;
    height: 45px;
    display: grid;
    place-items: center;
    border-radius: 20px 0 0 20px;
    top: 50%;
    right: 0;
    background:var(--base-color);
}


.main__content{
    padding: 0rem 0.7rem;
}

@media screen and (min-width: 400px) {
    .main__content{
        padding: 0rem 1rem;
    }
}

@media screen and (min-width: 1200px) {

    .wrapper__div{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
    }

    .main__content{
        flex-shrink: 0;
        flex-basis: 70%;
        flex-grow: 0;
    }
    .aside{
        min-height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
        overflow: hidden;
        position: relative;
        top: initial;
        right: initial;
        border: 0;
        flex-shrink: 0;
        flex-basis: 30%;
        flex-grow: 0;
        border-radius: 8px;
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.098);
    }

    .aside > span{
        display: none;
    }
    .aside__toggle{
        display: none;
    }
}