.container{
    width: 100%;
    padding: 2rem 4rem;
}
.container > h1{
    line-height: 1.5;
    margin-bottom: 1rem;
}

.form{
    padding: 1rem 1.5rem;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit button{
    width: 500px;
    padding: 0.5rem;
    background-color: var(--base-color);
    font-weight: bold;
    border-radius: var(--radius-10);
    border: 0;
    cursor: pointer;
}

.submit  button:disabled{
    background-color: #ddd;
}