.container{
    height: calc(100vh -  var(--header-height));
    display: grid;
    place-items: center;
    color: var(--mode-write-color);
}

.text{
    margin-top: 2rem;
}

.message{
    font-size: 1.5rem;
    padding: 0 2rem;
    text-align: center;   
}

.message a{
    font-size: 1rem;
    font-weight: bold;
}