.main__tags{
    overflow-x: auto;
    width: calc(100% - 2rem);
    margin: 1rem;
}

.main__tags::-webkit-scrollbar{
    display: none;
}

.main__content h4{
    padding-left: 1rem;
    margin: 0.5rem 0;
}




@media screen and (min-width:770px) {
    main{
        margin-left: 50px;
        padding: 1rem 0;
        transition: all 0.5s ;
    }
    .futher__left{
        margin-left: 250px;
    }
    
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        grid-auto-rows: 320px;
        gap: 3rem 1.5rem;
        padding: 0  4rem;
    }
    .main__content h4{
        padding-left: 4rem;
    }

}


@media screen and (min-width:700px){
    .cards{
        padding:0 2.5rem ;
    }
}
@media screen and (min-width:770px){
    .cards{
        padding: 0  4rem;
    }
}


@media screen and  (min-width:800px) {
    .cards{
        grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    }
}
@media screen and  (min-width:1200px) {
    .cards{
        grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
        padding: 0 1rem;
    }
    .main__content h4{
        padding-left: 1rem;
    }
}