.conatiner{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem 2rem;
}

.secondary__section{
    display: none;
}

@media screen and (min-width: 768px) {
    .conatiner{
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .secondary__section{
        display: block;
    }
    .conatiner{
        width: var(--bread-width-mid);
        grid-template-columns: 68% 28%;
    }
}

@media screen and (min-width: 1200px) {
    .conatiner{
        width: var(--bread-width-max);
    }
    .hunderedPercent{
        width: 100%;
    }
}

.error{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;
}