.main__nav{
    width: 100%;
}

.main__nav ul,.other__nav ul {
    padding: 0 1.5rem;
    list-style: none;
}



.main__nav li span,.other__nav  li span{
    margin: 0 8px;
}


.main__nav a, .other__nav a{ 
    display: flex;
    align-items: center;
    transition: 0.3s all;
    cursor: default;
    padding: 10px 8px;
    color: var(--mode-write-color);
}

.main__nav a:hover, .main__nav a.active, .other__nav a.active,.other__nav a:hover{
    background-color: var(--highlight-grey);
    color: var(--mode-write-color);
    border-radius: 6px;
}