.aside__content{
    padding: 2rem 1rem;
    position: static;
    margin-top: 0px;
    color: var(--mode-write-color);
    background-color: var(--raise-three);
}


.profile__info{
    display: none;
    color: var(--mode-write-color);
}

.profile{
    display: flex;
    align-items: center;
}
.aside__content a{
    color: initial;
    text-decoration: none;
}


.profile img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}

.profile span{
    margin-left: 10px;
    font-weight: bold;
    color: var(--mode-write-color);
}

.bio, .socials{
    margin: 0.6rem 0;
}

.socials{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socials a{
    margin: 0 0.5rem;
    color: inherit;
}

@media screen and (min-width: 1200px) {
    .aside__content{
        top: 70px;
        position: sticky;
        height: calc(100vh - 90px);
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: -2px 4px 15px 2px var(--aside-shadow);
    }

    .profile__info{
        display: block;
    }
}
