
.article__header{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: var(--mode-write-color);
}

.article__header a{
    text-decoration: none;
    color: inherit;
    display: block;
}

.article__header > a img{
    width: 45px;
    height: 45px;
    border-radius:100% ;
    object-fit: cover;
}


.lnk__button{
    margin-left: auto;
    display: flex !important;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--base-color);
    color: #000;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.9rem;
}

.lnk__button i{
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding-bottom: 4px;
}


.title{
    margin-left: 1rem;
}

.title > *{
    color: var(--fade-text);
}

.title > a{
    margin-bottom: 0.3rem;
    
}