.styles{
    width: 100%;
    display: flex;
    justify-content: center;
}


.position__button{
    position: absolute;
    display: flex;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.button_shape{
    width: 12px;
    height: 6px;
    display: block;
    border-radius: 30%;
    background: rgba(255,255,255,0.35) ;
    margin: 0.3rem 0.2rem;
    cursor: pointer;
}

.show__heading{
    opacity: 1 !important;
}
@media screen and (min-width:700px) {
    .button_shape{
        width: 15px;
        height: 7px;
        margin: 0.3rem 0.35rem;
    }
}


.info__area{
    transition: all 3.5s;
    transform: translateY(150px);
}