.container{
    margin-left: auto;
}

.container > span{
    cursor: pointer;
}

.container > ul{
    position: absolute;
    width: 200px;
    background-color: var(--raise-three);
    list-style: none;
    left: calc(100% - 213px);
    border-radius: 5px;
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
}

.container >ul  li {
    padding: 0.6rem;
    cursor: pointer;
}

.container > ul li > *{
    display: flex;
    align-items: center;
    
}
.container > ul li span{
    display: flex;
    align-items: center;
    margin-right: 0.73rem;
}

.container >  ul  li:hover{
    background-color: var(--highlight-grey);
}