







/* normal card */









/* .heading h4{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@supports (-webkit-line-clamp: 2){
    .heading h4{
        display: -webkit-box;
        white-space: initial;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.heading p{
    color: #1e90ff;
    font-weight: bold;
    cursor: pointer;
}






@media screen and (min-width:760px) {
    .normal__card{
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-template-areas: 
            "img img img"
            "img img img"
            "img img img"
            "body body body"
            "body body body"
            "body body body"
            "foot foot foot"
        ;
        padding: 0;
        border-radius: 8px;
        transition: box-shadow 0.4s, border 0.1s;
    }

    

   


    .feed__details{
        grid-column: unset;
        grid-row: unset;
        grid-area: body;
        padding: 0 0.2rem 0 0.5rem;
    }

    .user__actions{
        grid-column: unset;
        grid-row: unset;
        grid-area: foot;
        padding: 0 0.2rem;
    }

    .user__actions li:last-child{
        display: none;
    }

    

}

 */
